<!-- About Me -->
<div class="row info align-items-center">
    <!-- Intro summary -->
    <p class="lead text-center col-12 summary">I'm a Software Engineering Student in the path of becoming a
        full-stack
        developer
        who used to be a
        Project Analyst in my past life.</p>
    <div class="col-md-6 col-sm-12">
        <div class="row justify-content-center">
            <!-- Profile pic -->
            <img src="/Assets/images/profile.png" alt="Photo of Hoi Fong Ho" class="img-thumbnail">
        </div>
    </div>
    <!-- Qualites and Qualifications -->
    <div class="qualities-section col-md-6 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="row qualities align-items-center">
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x  fa-check-square"></i>
                    <h5>Problem Solver</h5>
                </div>
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x fa-redo-alt"></i>
                    <h5>SDLC</h5>
                </div>
            </div>
            <div class="row qualities align-items-center">
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x fa-users"></i>
                    <h5>Team Worker</h5>
                </div>
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x fa-project-diagram"></i>
                    <h5>UML</h5>
                </div>
            </div>
            <div class="row qualities align-items-center">
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x fa-book-reader"></i>
                    <h5>Fast Learner</h5>
                </div>
                <div class="col-md-6 col-sm-12">
                    <i class="fas fa-4x fa-recycle"></i>
                    <h5>Agile</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Resume -->
    <div class="col-12 resume">
        <a class="btn btn-info btn-lg" href="/Assets/files/Resume_MarcusHo.pdf" role="button" target=" _blank">
            Resume
        </a>
    </div>
</div>