<!-- Projects -->
<div class="card-deck flex-lg-row flex-md-column flex-sm-row">
    <!-- First project -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Web
                Design - Omnifood</h3>
            <img class="img-thumbnail" src="/Assets/images/projects/project-omnifood.png"
                alt="Screen Shot of a web design project called omnifood">
            <p class="card-text">Udemy course project from "Build Responsive Real World Websites with HTML5
                and
                CSS3"
                which utilizes Responsive Web Design, JQuery, and CSS3
                animations.</p>
        </div>
        <div class="card-footer">
            <a href="https://github.com/marcusho1993/omnifood" class="btn btn-lg btn-info">Github</a>
        </div>
    </div>
    <!-- Second project -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Java - Quiz
                Genertor</h3>
            <img class="img-thumbnail" src="/Assets/images/projects/project-java.png"
                alt="Screen Shot of a Java assignment ">
            <p class="card-text">School project for Java Programming which utilizes OOP to create a quiz
                genertor
                using JOptionPane as GUI.</p>
        </div>
        <div class="card-footer">
            <a href="https://github.com/marcusho1993/COMP228_JavaProgramming_Lab2"
                class="btn btn-lg btn-info">Github</a>
        </div>
    </div>
    <!-- Third project -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">C# - Banking App</h3>
            <img class="img-thumbnail" src="/Assets/images/projects/project-csharp.png"
                alt="Screen Shot of a web design project called omnifood">
            <p class="card-text">School project for C# Programming which is a practice to adopt the OOP conepts
                of
                Polymorphism, Abstraction, and Inheritance.</p>
        </div>
        <div class="card-footer">
            <a href="https://github.com/marcusho1993/COMP123_BankingApp" class="btn btn-lg btn-info">Github</a>
        </div>
    </div>
</div>