<!-- Welcome -->
<!-- Mission Statement -->
<div class="col-12">
    <p class="lead">I'm a Software Engineering Student in the path of becoming a full-stack developer
        <br>who used to
        be a Project
        Analyst in my past life.</p>
</div>
<div class="col-12">
    <p class="h2 animate__animated animate__backInDown">Problem Solver</p>
    <p class="h2 animate__animated animate__backInRight animate__delay-1s">Team Worker</p>
    <p class="h2 animate__animated animate__backInUp animate__delay-2s">Fast Learner</p>
</div>
<!-- Learn More -->
<div class="col-12">
    <a class="btn btn-info btn-lg" href="/about" role="button">
        Learn more
    </a>
</div>